<style>
    body {
        background-color: #000000;
    }
    wh1 {
        color: #FFFFFF;
    }
</style>

<body>
    <wh1>Here is my home page</wh1>
    <p>
    <%= link_to 'Articles', articles_path%> | <%= link_to 'About', about_path %>
    </p>
</body>
